* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  color: #c5c6c7;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #c5c6c7;
  font-family: 'Open Sans';
  appearance: none;
}
html,
body {
  width: 100%;
  background-color: #0b0c10;
  height: 100%;
}
.flex {
  display: flex;
  justify-content: center;
}
.title {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 11px;
}
