* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  color: #c5c6c7;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #c5c6c7;
  font-family: 'Open Sans';
  appearance: none;
}
html,
body {
  width: 100%;
  background-color: #0b0c10;
  height: 100%;
}
.flex {
  display: flex;
  justify-content: center;
}
.title {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 11px;
}
.game {
  display: flex;
  justify-content: center;
}
.game .panel {
  padding: 40px 20px;
  min-width: 250px;
  height: 100vh;
  width: 26%;
  background-color: #1f2833;
}
.game .panel .dados h2 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 11px;
}
.game .panel .temporizador {
  width: 150px;
  height: 150px;
  border: 2px solid #c5c6c7;
  position: relative;
  border-radius: 50%;
  margin: 50px auto;
}
.game .panel .temporizador h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 11px;
  font-size: 40px;
}
.game .panel .control {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game .panel .control a {
  position: relative;
  background-color: #c5c6c7;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.0em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: bold;
  transition: .5s;
}
.game .panel .control a span {
  position: relative;
  z-index: 1;
  color: inherit;
}
.game .panel .control a i {
  position: absolute;
  inset: 0;
  display: block;
}
.game .panel .control a i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  transform: translateX(-50%) skewX(325deg);
  width: 10px;
  height: 3px;
  z-index: 1;
  background-color: #1f2833;
  transition: .5s;
}
.game .panel .control a i::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: translateX(-50%) skewX(325deg);
  width: 10px;
  height: 3px;
  z-index: 1;
  background-color: #1f2833;
  transition: .5s;
}
.game .panel .control a:hover {
  letter-spacing: 0.25em;
  background-color: #66fcf1;
  box-shadow: 0 0 35px #66fcf1;
  color: #66fcf1 !important;
}
.game .panel .control a:hover i::before {
  left: 20%;
  width: 20px;
}
.game .panel .control a:hover i::after {
  left: 80%;
  width: 20px;
}
.game .panel .control a::before {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: #1f2833;
}
.game .printgame {
  width: 74%;
}
